* {
  text-align:center;
  font-family:georgia;
}
body {
   background-image: url("http://www.smartpupils.com/images/Slides/Slide1.jpg");
}
.container {
  width: 
  
}

.newton {
  height:200px;
  width:600px;
  margin: -5px;
}

.list {
  background-image: url("https://filmmakingunedited.files.wordpress.com/2013/09/paper-notepad-white-texture-by-aaron-pate.jpg?w=854" );
  height: 400px;
  width: 600px;
  margin: 0 auto;
}

li {
  list-style: none;
}

input {
  border:10px;
  width:290px;
  height:34px;
  font-size: 20px;
  text-align:left;
  background-color:transparent;
}
