* {
  text-align:center;
  font-family:avenir next, georgia;
}
body {
   background-image: url("http://www.smartpupils.com/images/Slides/Slide1.jpg");
}
.container {
  width: 
  
}

.newton {
  height:200px;
  width:600px;
  margin: -5px;
}

.list {
  background-image: url("https://filmmakingunedited.files.wordpress.com/2013/09/paper-notepad-white-texture-by-aaron-pate.jpg?w=854" );
  height: 900px;
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

li {
  list-style: none;
   cursor: pointer;
   text-align: left;
   line-height: 2.6;
}
li span:hover {
  text-decoration: line-through;
  opacity: .5;
}

input {
  border:1px solid blue;
  width:290px;
  height:34px;
  font-size: 20px;
  text-align:left;
  background-color:transparent;
  padding-left: 10px;
  margin-left: 20px;
}
input:hover {
    
}

.linethrough {
  text-decoration: line-through;
  opacity: .5;
}

.submitArea{
  text-align:left;
  width: 300px;
  padding-left: 100px;

}

.delete {
  margin-right: 5px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;

}


